*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
header{
    width: 100vw;
    height: 80px;
    background-color: rgb(27, 27, 65);
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    list-style: none;
}
.selectLangNav{
    width: 200px;
    display: flex;
    position: absolute;
    right: 40px;
    font-size: 40px;
    list-style: none;
    border-radius: 20px;
}
.logoNav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto; 
}
.logo{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 45%;
    top: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
}
.logo > img{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.logo > a:hover{
    background-color: rgb(27, 27, 65);
    transition: 1s;
}
.leftNav{
    width: 200px;
    height: 30px;
    display: flex;
    left: 40px;
    font-size: 20px;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;
    margin-left: 80px;
}
.selectLangNav > li > a:hover, .leftNav > li > a:hover, .bannerBtn:hover{
        transition: .4s;
        color: #368DC5;
}
.bannerBtn:hover{
    color: rgb(27, 27, 65);
    transition: 1s;
}

a{
    color: white;
    text-decoration: none;
}


body{
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 40px;
}
.banner{
    background-color:  rgb(27, 27, 65);
    width: 100%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom,transparent,rgb(9, 9, 37));
}

h1{
    font-size: 80px;
}
.bannerText{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    position: absolute;
    font-size: 80px;
}
.infoBtn{
    height: 100px;
    width: 60vw;
    display: flex;
    margin-top: 600px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.infoBtn:hover{
    background-color: rgb(9, 34, 70);
    transition: 1s;
}
.bannerBtn{
    color: rgb(9, 9, 37);
    font-size: 50px;
    line-height: 100px;
    
}
.bannerBtn:hover{
    color: white;
}
.info{
    background-color: rgb(9, 34, 70);
    width: 100vw;
    height: 1000px;
    padding: 40px;
    display: flex;
    align-items: center;
    border-top: 8px solid rgb(255, 255, 255);
}
.textLeft{
    display: flex;
    width: 40%;
    height: 65%;
    background-color: rgb(9, 9, 37);
    flex-direction: column;
    border-radius: 20px;
    word-break: keep-all;
    border: 6px solid white;
    background-image: linear-gradient(to bottom,transparent,rgb(19, 60, 94))
}

.textLeft > h2{
    font-size: 40px;
    color: white;
}
.textHistory, .textAct{
    color: white;
}
.enTextHistory, .enTextAct{
    color: white;
    font-size: 26px;
}
.textRight, .enTextRight{
    display: flex;
    width: 40%;
    height: 65%;
    background-color: rgb(9, 9, 37);
    flex-direction: column;
    border-radius: 20px;
    word-break: keep-all;
    border: 6px solid white;
    background-image: linear-gradient(to bottom,transparent,rgb(19, 60, 94))
}

.textRight > h2{
    font-size: 32px;
    color: white;
}
.enTextRight > h2{
    font-size: 45px;
    color: white;
}


article > section >p{
    color: black;
    font-size: 25px;
    margin-top: 20px;
    flex-shrink: 1;
}
.infoImages{
    background-color: rgb(9, 34, 70);
    width: 100vw;
    width: 100vw;
    height: 600px;
    display: flex;
    border-bottom: 8px solid rgb(255, 255, 255);
    margin-top: -100px;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
}
section.infoImages > ul{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px  ;
}
.infoImages > ul >li{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
}
.infoImages > ul> li > img{
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
    border: 6px solid white;
    border-radius: 20px;
    flex-wrap: wrap;
}
.game{
    background-color: rgb(3, 3, 24);   
    width: 100vw;
    height: 800px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game > h2{
    font-size: 100px;
    color: white;
}
.lastSection{
    width: 100vw;
    height: 800px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000031;
    border-top: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgb(255, 255, 255);
    background-image: linear-gradient(to bottom,transparent,#FFB5BB,);

}
.lastSection > h2{
    display: flex;
    position: absolute;
    bottom: -2480px;
    font-size: 100px;
    color: white;
}
.reviews{
    display: flex;
    width: 40%;
    height: 60%;
    background-color: #FFA6AF;
    flex-direction: column;
    padding: 0px;
    border-radius: 20px;
    border: 6px solid white;
}
.reviews > h2{
    color: white;
    height: 10%;
}
.reviews > img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: column;
    border-radius: 20px;
    opacity: 85%;
}
.reviews > p{
    position: relative;
    top: -110px;
    font-size: 40px;
    color: white;
    background-color: rgba(24, 59, 153, 0.4);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.reviews2 > p{
    position: relative;
    top: -110px;
    font-size: 40px;
    color: white;
    background-color: rgba(24, 59, 153, 0.4);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.reviews2{
    display: flex;
    width: 40%;
    height: 60%;
    background-color: #FFA6AF;
    flex-direction: column;
    padding: 0px;
    border-radius: 20px;
    border: 6px solid white;
}
.reviews2 > h2{
    color: white;
    height: 10%;
}
.reviews2 > img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: column;
    border-radius: 20px;
    opacity: 85%;
}
.reviews >.reviewStars{
    position: relative;
    width: 100%;
    top: -210px;
    display: flex;
}
.reviews2 >.reviewStars{
    position: relative;
    width: 100%;
    top: -210px;
    display: flex;
}
.openingHours{
    width: 100vw;
    height: 600px;
    background-color: #FEEEEC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom,transparent,rgb(9, 9, 37));
    background-image: url(/website_mislukt/img/vgm2.jpg);
    background-size: 100% 100vw;
    background-repeat: no-repeat;
}
.openingHours > h2{
    color: white;
    padding-bottom: 20px;
    font-size: 40px;

}
.openingText{
    display: flex;
    position: relative;
    left: 20px;
    display: flex;
    font-size: 30px;
    color: white;
    
}
.day, .time{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.box{
    display: flex;
    width: 50%;
    height: 70%;
    background-color: (9, 34, 70);
    border-radius: 50px;
    border: 6px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    background-image: linear-gradient(to bottom,transparent,rgb(9, 9, 37));
}


footer{
    width: 100vw;
    height: 200px;
    background-color: rgb(9, 9, 37);
    display: flex;
    border-top: 10px solid white;
}
footer > section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

footer > section > h4{
    display: flex;
    color: white;
    border-bottom: 3px solid white;

}

footer > section > ul > li{
    color: white;
}
footer > section > ul > li> a:hover{
    color: #368DC5; 
    transition: 0.3s;
}
.clear{
    color: transparent;
}