*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior:smooth

}
header{
    width: 100vw;
    height: 80px;
    background-color: #FFB5BB;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    list-style: none;
}
.selectLangNav{
    width: 200px;
    display: flex;
    position: absolute;
    right: 40px;
    font-size: 40px;
    list-style: none;
    border-radius: 20px;
}
.logoNav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto; 
}
.logo{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 45%;
    top: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
}
.logo:hover{
    color: #FD7094;
    transition: 1s;
}
.leftNav{
    width: 200px;
    height: 30px;
    display: flex;
    left: 40px;
    font-size: 20px;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;
    margin-left: 80px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #FD7094;
    transition: 1s;
}

body{
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 40px;
}
.banner{
    background-color:  #FFB5BB;
    width: 100%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 80px;
}
.bannerText{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    position: absolute;
    font-size: 80px;
}
.infoBtn{
    height: 100px;
    width: 60vw;
    display: flex;
    margin-top: 600px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.infoBtn:hover{
    background-color: #FFA6AF;
    transition: 1s;
}
.bannerBtn{
    color: #FFA6AF;
    font-size: 50px;
    line-height: 100px;
    
}
.bannerBtn:hover{
    color: white;
}
.info{
    background-color: #FEEEEC;
    width: 100vw;
    height: 1000px;
    padding: 40px;
    display: flex;
    align-items: center;
    border-top: 8px solid rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
}
.textLeft{
    display: flex;
    width: 40%;
    height: 65%;
    flex-direction: column;
    border-radius: 20px;
    border: 6px solid white;
    background-image: linear-gradient(to bottom,transparent,#FFA6AF)
}

.textLeft > h2{
    font-size: 40px;
    color: white;
}
.textHistory, .textAct{
    color: white;
}
.textRight{
    display: flex;
    width: 40%;
    height: 65%;
    background-color: rgb(250, 212, 218);
    flex-direction: column;
    border-radius: 20px;
    word-break: break-all;
    border: 6px solid white;
    background-image: linear-gradient(to bottom,transparent,#FFA6AF)
}

.textRight > h2{
    font-size: 32px;
    color: white;
}

article > section >p{
    color: black;
    font-size: 25px;
    margin-top: 20px;
    flex-shrink: 1;
    word-wrap: break-word;
}
.game{
    background-color: #FD7094;   
    width: 100vw;
    height: 800px;
    padding: 40px;
}
.lastSection{
    width: 100vw;
    height: 800px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdcfd4;
    border-top: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgb(255, 255, 255);
    background-image: linear-gradient(to bottom,transparent,#FFB5BB,);

}
.reviews{
    display: flex;
    width: 40%;
    height: 60%;
    background-color: #FFA6AF;
    flex-direction: column;
    padding: 0px;
    border-radius: 20px;
    border: 6px solid white;
}
.reviews > h2{
    color: white;
    height: 10%;
}
.reviews > img{
    display: flex;
    width: 100%;
    height: 90%;
    object-fit: cover;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 90%;
}

.reviews2{
    display: flex;
    width: 40%;
    height: 60%;
    background-color: #FFA6AF;
    flex-direction: column;
    padding: 0px;
    border-radius: 20px;
    border: 6px solid white;
}
.reviews2 > h2{
    color: white;
    height: 10%;
}
.reviews2 > img{
    display: flex;
    width: 100%;
    height: 90%;
    object-fit: cover;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 90%;
}
.openingHours{
    width: 100vw;
    height: 600px;
    background-color: #FEEEEC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom,transparent,#FFB5BB);
}
.openingHours > h2{
    color: white;
    padding-bottom: 20px;
    font-size: 40px;

}
.openingText{
    display: flex;
    position: relative;
    left: 20px;
    display: flex;
    font-size: 30px;
    color: white;
    
}
.box{
    display: flex;
    width: 50%;
    height: 70%;
    background-color: rgb(179, 179, 179);
    border-radius: 50px;
    border: 6px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    background-image: linear-gradient(to bottom,#FEEEEC, #FE7F9B)
}


footer{
    width: 100vw;
    height: 200px;
    background-color: #FD7094;
    display: flex;
    border-top: 10px solid white;
}
footer > section{
    display: flex;
}

footer > section > h4{
    color: white;
}
