*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 80px;
    background-color: rgb(243, 195, 203)
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
ul{
    list-style: none;
}
.selectLangNav{
    width: 200px;
    display: flex;
    position: absolute;
    right: 40px;
    font-size: 40px;
    list-style: none;
    border-radius: 20px;
}
.logoNav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto; 
}
.logo{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 45%;
    top: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
}
.leftNav{
    width: 200px;
    height: 30px;
    display: flex;
    left: 40px;
    font-size: 20px;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;
    margin-left: 80px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black
}

body{
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 40px;
}
.banner{
    background-color: rgb(243, 195, 203);
    width: 100%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 80px;
}
.bannerText{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    position: absolute;
    font-size: 80px;
}
.infoBtn{
    height: 100px;
    width: 60vw;
    display: flex;
    margin-top: 600px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}
.infoBtn:hover{

    background-color: black;
}
.bannerBtn{
    color: black;
    font-size: 50px;
    line-height: 100px;
}
.bannerBtn:hover{
    color: white;
}
.info{
    background-color: rgb(43, 43, 43);
    width: 100vw;
    height: 1000px;
    padding: 40px;
    display: flex;
    align-items: center;

}
.textLeft{
    display: flex;
    width: 40%;
    height: 65%;
    background-color: rgb(230, 230, 230);
    flex-direction: column;
    border-radius: 20px;
}

.textLeft > h2{
    font-size: 40px;
}
.textRight{
    display: flex;
    width: 40%;
    height: 65%;
    background-color: rgb(230, 230, 230);
    flex-direction: column;
    border-radius: 20px;
}

.textRight > h2{
    font-size: 32px;
}

article > section >p{
    color: black;
    font-size: 25px;
    margin-top: 20px;
    flex-shrink: 1;
}
.game{
    background-color: rgb(196, 149, 149);   
    width: 100vw;
    height: 800px;
    padding: 40px;
}
.lastSection{
    background-color: white;
    width: 100vw;
    height: 800px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews{
    display: flex;
    width: 40%;
    height: 60%;
    background-color: rgb(65, 65, 65);
    flex-direction: column;
    padding: 0px;
    border-radius: 20px;
}
.reviews > h2{
    color: white;
}
.reviews > img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.reviews2{
    display: flex;
    width: 40%;
    height: 60%;
    background-color: rgb(65, 65, 65);
    flex-direction: column;
    padding: 0px;
    border-radius: 20px;
}
.reviews2 > h2{
    color: white;
}
.reviews2 > img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



footer{
    width: 100vw;
    height: 200px;
    background-color: rgb(68, 68, 68);
    display: flex;
}
footer > section{
    display: flex;
}

footer > section > h4{
    color: white;
}
